@using Atelier.Application.Interfaces.IBaseInfoServices.IGroupingServices;
@using Atelier.Application.Interfaces.IBaseInfoServices.ICitiesServices
@using Atelier.Application.Interfaces.IBaseInfoServices.IAtelierServices
@using Atelier.Application.Security
@inject IGroupingService GroupingService ;
@inject ICityService CityService ;
@inject IAtelierService AtelierService;

@model Atelier.Domain.DTOs.BaseInfoDTOs.SearchDtos.SearchViewModel
@{
	var groupings = GroupingService.GetAllSelectList();
	var cityList = CityService.GetAllSelectList();
	var listGrouping = GroupingService.GetAll();
	var listAtelier = AtelierService.GetAllAteliers(User.GetUserId());
}
<form asp-action="Atelier" asp-controller="SearchAtelier" method="get">

	<main class="w-full flex flex-col items-center overflow-hidden">
		<div class="w-full flex flex-col items-center ">

			<div class="w-full flex flex-col justify-center items-center home-img-container" style="display: flex; flex-direction: column; justify-content: center;">

				<div class="" style="margin: auto; width: 75%;">
					<div class="search-box-container card login-card d-flex flex-row" style="height: 100px; align-items: center; border-radius: 15px; margin-top: 200px;">
						<input id="Title" name="title" class="bg-transparent px-2 col-4" style="border: none; outline: none;" placeholder="جستجوی آتلیه" value="">
						<ul class="d-flex col-6" style="width: 45%; align-items: center; margin: auto; list-style: none; text-align: center;">
							<li class="col-6 cursor-pointer">
								<select id="GroupingId" name="GroupingId" asp-items="@(new SelectList(groupings, "Value", "Text"))" class="select2 form-control select2-hidden-accessible input-validation-error border-0">
								</select>
							</li>
							<li class="col-6 cursor-pointer show-more-item">
								<select id="CityId" name="CityId" asp-items="@(new SelectList(cityList, "Value", "Text"))" class="select2 form-control select2-hidden-accessible input-validation-error">
								</select>
							</li>
						</ul>
						<button type="submit" class="searchBtn bg-transparent outline-none border-0" style="outline: none; padding: 30px; cursor: pointer;">
							<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 32 32">
								<circle cx="14" cy="14" r="12" fill="#79b5ba"></circle>
								<path fill="#302529" d="M14,27C6.832,27,1,21.168,1,14S6.832,1,14,1s13,5.832,13,13S21.168,27,14,27z M14,3	C7.935,3,3,7.935,3,14s4.935,11,11,11s11-4.935,11-11S20.065,3,14,3z"></path>
								<path fill="#fff" d="M6,14H5c0-4.962,4.038-9,9-9v1C9.589,6,6,9.589,6,14z"></path>
								<rect width="2" height="10.607" x="25.25" y="20.947" fill="#302529" transform="rotate(-45.001 26.25 26.25)"></rect>
							</svg>
						</button>
					</div>
				</div>

			</div>
		</div>
	</main>
</form>


<h3 style="text-align: right; margin: 30px 30px 0 0;">
	گروه بندی
</h3>
<div class="container mt-3">
	<div class="row">
		<div id="owl-carousel1" class="owl-carousel owl-theme" style="direction:ltr;">
			@foreach (var item in listGrouping)
			{
				<div class="item mb-4" style="width:250px;">
					<div class="category">
						<a href="/SearchAtelier/Atelier?title=&GroupingId=@item.Id&CityId=">
							<img src="@item.GroupPic" alt="" class="shadow-category" style="width:150px; height:150px;  margin-left: auto; margin-right: auto;" />
							<p class="m-4">@item.Title</p>
						</a>
					</div>
				</div>
			}

		</div>
	</div>
</div>



@*slider-atelier*@

<div style="background-color: #b4d6db; overflow: hidden;">
	<h3 style="text-align: right; margin: 30px 30px 15px 0;"> آتلیه ها</h3>

	<div class="row" style="padding: 0 25px 0 25px;">
		<div id="owl-carousel2" class="owl-carousel owl-theme" style="direction:ltr;">
			@foreach (var item in listAtelier)
			{
				<div class="item mb-4" style="margin:15px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius:15px; width:350px;">
					<div class="card" style="border-radius:15px; cursor: pointer;">
						<img class="card-img-top" src="@item.Banner" alt="" style="height:250px; border-radius:15px 15px 0 0;">
						<div class="card-body" style="direction:rtl;">
							<p class="card-title d-flex">
								<img src="@item.Logo" style="width:36px; height:36px; border-radius: 50%; margin-left: 10px;" />
								<span>@item.Title</span>
							</p>
							<p class="card-text d-flex">
								<img src="/assets/images/icons/location.png" style="width:36px; height:36px;" />
								<span>@item.City</span>
								<p>@item.GroupingTitle</p>

							</p>
						</div>

						<div class="card-footer d-flex justify-content-around">
							@if (item.IsUserLiked)
							{
								<img data-id="@item.AtelierId" class="hearts" src="/assets/images/icons/icon-heart2.png" style="width:24px; height:24px;" />

							}
							else
							{
								<img data-id="@item.AtelierId" class="hearts" src="/assets/images/icons/icon-heart1.png" style="width:24px; height:24px;" />

							}
							<span>|</span>
							<a asp-controller="SearchAtelier" asp-action="AtelierDetails" asp-route-atelierId="@item.AtelierId" style="cursor: pointer;">
								<img src="/assets/images/icons/eye.png" style="width:24px; height:24px;" />
							</a>
						</div>
					</div>
				</div>
			}
		</div>

		<div style="justify-content:center; margin:0 auto;">
			<a class="btn showAtelier-btn" href="/SearchAtelier/Atelier?title=&GroupingId=&CityId=">
				مشاهده همه آتلیه ها

			</a>
		</div>
	</div>
</div>



@section myScripts {
	<script>
		$(".hearts").click(function () {
			let id = $(this).data("id");
			$.ajax({
				type: 'Get',
				url: `/User/AddOrDeleteFavorite/${id}`,
				contentType: "application/json;charset=utf-8",
				success: response =>  {
					if (response) {
						$(this).attr("src", "/assets/images/icons/icon-heart2.png");

					} else {
						$(this).attr("src", "/assets/images/icons/icon-heart1.png");

					}
				}
			});
		})


	</script>
	<script>

		$('select').select2({
			dir: "rtl"
		});
	</script>
}
