@using Atelier.Application.Interfaces.IBaseInfoServices
@using Atelier.Application.Security
@model List<Atelier.Domain.DTOs.BaseInfoDTOs.AtelierDTOs.AtelierShowViewModel>
@inject IUserService UserService;
@{
	ViewData["Title"] = "FavoriteUser";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var user = UserService.GetByIdUserDto(User.GetUserId());
}


<div style="overflow: hidden; width: 95%;  padding: 10px 50px 10px 50px;">

	<div class="row d-flex" style="margin: 120px 30px 15px 0;">

		<div class="col-md-3 col-12">
			<div class="card" style="border-radius:15px; align-items: center;">
				<img src="/assets/images/user.png" style="width:80px; height:80px; margin-top: 10px;" />
				<h5 style="text-align: center; padding: 20px;">
					@user.UserName
				</h5>
				<div class="col-12" style="margin: 0 0 15px;">
					<ul style="list-style: none; text-align: center; padding: 0;">
						<li style="margin: 20px;"><a asp-controller="User" asp-action="Index">اطلاعات کاربر</a></li>
						<li style="margin: 20px;"><a asp-controller="User" asp-action="FavoriteUser">علاقه مندی ها</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="" class="row col-md-9 col-12" style="padding: 0 25px 0 25px;text-align: right;">

			@foreach (var item in Model)
			{
				<div class="col-4 item mb-4 p-0" style="margin:15px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius:15px; width:350px;">
					<div class="card" style="border-radius:15px;">
						<img class="card-img-top" src="@item.Banner" alt="" style="height:250px; border-radius:15px 15px 0 0;">
						<div class="card-body" style="direction:rtl;">
							<p class="card-title d-flex">
								<img src="@item.Logo" style="width:36px; height:36px; border-radius: 50%; margin-left: 10px;" />
								<span>@item.Title</span>
							</p>
							<p class="card-text d-flex">
								<img src="/assets/images/icons/location.png" style="width:36px; height:36px;" />
								<span>@item.City</span>
							<p>@item.GroupingTitle</p>
							</p>
						</div>
						<div class="card-footer d-flex justify-content-around">
							@if (item.IsUserLiked)
							{
								<img data-id="@item.Id" class="hearts" src="/assets/images/icons/icon-heart2.png" style="width:24px; height:24px;" />
							}
							else
							{
								<img data-id="@item.Id" class="hearts" src="/assets/images/icons/icon-heart1.png" style="width:24px; height:24px;" />
							}
							<span>|</span>
							<a asp-controller="SearchAtelier" asp-action="AtelierDetails" asp-route-atelierId="@item.Id" style="cursor: pointer;">
								<img src="/assets/images/icons/eye.png" style="width:24px; height:24px;" />
							</a>
						</div>

					</div>

				</div>
			}
		</div>

	</div>
</div>

<script>
	$(".hearts").click(function () {
		let id = $(this).data("id");
		$.ajax({
			type: 'Get',
			url: `/User/AddOrDeleteFavorite/${id}`,
			contentType: "application/json;charset=utf-8",
			success: response => {
				if (response) {
					$(this).attr("src", "/assets/images/icons/icon-heart2.png");

				} else {
					$(this).attr("src", "/assets/images/icons/icon-heart1.png");

				}
			}
		});
	})
</script>

